<<<<<<< HEAD
<<<<<<< HEAD
=======
@use '../../lib/servic.scss' as s;
.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(8);

    &__title {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: s.space(1);

        border-bottom: 1px solid s.color('light');
    }

    &__content {
        display: grid;
        gap: s.space(6);
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: s.space(2);
    }


    &__product {
        display: flex;
        flex-direction: row;
        gap: s.space(2);
    }

    &__label {
        font-size: 14px;
    }
    &__input {
        border: 1px solid s.color('light');
        padding: s.space(2);
    }

    &__button {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 5px;
        color: s.color('light');
        background-color: blue;

        border-radius: 20px;

    }
}
=======
@use '../../lib/servic.scss' as s;

.card {
display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 0 2px 6px rgba(0, 0, 0,0.2);
 background-color: #ffffff;

    &__header {
       flex-grow: 1;
    }

    &__title {
     font-size: 24px;
     font-weight: bold;
     margin: 0;
    }

    &__subtitle {
       font-size: 18px;
       margin-top: 8px;
       color: #666666;
    }

    &__button {
       background-color: blue;
       color: #ffffff;
       border: none;
       border-radius: 5px;
       padding: 10px 20px;
       font-size: 16px;
       cursor: pointer;
       transition: background-color 0.3s ease;

    &:hover {
        background-color: darkblue;
    }
}
}
>>>>>>> cd92bac20a5529144511aa964538c51ece53b0fc

main {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    padding: s.space(4);
    gap: 10;

}

.user-list {
    li {
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
>>>>>>> ea7a3e0ebd0d1e7250de42fd96fde78b5d29d950
=======
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    border: 1px solid s.color('light');
    padding: s.space(2);
    border-radius: 5px;
    color: s.color('light');
    background-color: blue;
    text-decoration: none;
}

>>>>>>> cd92bac20a5529144511aa964538c51ece53b0fc
