<main class="main">
  {{#with data}}
  <form class="form-card">
    {{>heading title="Інформація про замовлення"}}

    ID: {{id}}

    {{!--
    {{>field label="Ім'я" name="firstname"}}
    {{>divider}}

    {{>field label="Прізвіще" name="lastname"}}

    {{>divider}}
    {{>field label="Телефон" name="phone"}}
    {{>divider}}

    {{>field label="Пошта" name="email"}}
    {{>divider}}

    {{>field label="Коментар" name="comment"}}
    {{>divider}}

    {{>field label="Списати бонус" name="bonus"}}
    {{>divider}}

    {{>field label="Промо-код" name="promocode"}}
    {{>divider}}

    {{>divider}}

    {{>field value=totalPrice name="totalPrice" disabled=true}}
    {{>field value=productPrice name="productPrice" disabled=true}}
    {{>field value=deliveryPrice name="deliveryPrice" disabled=true}}
    {{>field value=amount name="amount" disabled=true}}

    <strong class="form-card__total">
      Всього: {{totalPrice}} грн ({{bonus}} грн бонусів)
    </strong> --}}

    {{>button text="Змінити дані"}}
  </form>
  {{/with}}
</main>